.main-box {
  display: flex;
  position: fixed;
  right: 5px;
  top: 0;
  z-index: 9999;
 }

.schema-box {
  position: relative;
  overflow-y: auto;
  width: auto;
  height: 90vh;
  background-color: rgba(250, 221, 201, 0.877);
  border: solid rgba(83, 75, 69, 0.7) 0px;
  border-radius: 1rem;
  margin-top: 1.5rem;
}

.schema_head {
  font-size: 1.5rem;
  margin: 1rem 5px 1rem 5px;
}

.schema-btn {
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 2px 15px 2px 15px;
  cursor: pointer;
  margin: 2px 0px 2px 0px;
}

// .schema-btn:hover {
//   color: black;
//   width: 100%;
// }

.schema-btn.selected {
  background-color: #c9690a; 
  color: white;
  width: 100%;
}

.chatcontainer {
  position: relative;
  border: solid 1px rgb(237, 235, 235);
  border-radius: 20px; 
  width: 40rem;
  height: 90vh;
  box-shadow: 1px 1px 10px 1px #fbf5f5;
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  margin: 10px;  
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.subcontainer {
  position: relative;
  width: 40rem;
}

.chatbox {
  position: absolute; 
  margin-top: 3.5rem;
  width: 100%;
  height: 74vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.inputbox {
  position: absolute;
  width: 40rem;
  bottom: 0;
  margin-top: 0.5rem; 
  display: flex;
  justify-content: center; 
  background-color: rgba(250, 221, 201, 0.877);
  border-radius: 0px 0px 10px 10px; 
}

.input {
  width: 90%;
  text-align: center;
  border-radius: 10px;
  border: solid 1px rgb(235, 235, 235);
  height: 3.5rem; 
}

.headbox {
  position: absolute;
  background-color: #f59439;  
  top: 3rem;
  width: 50%;
  border-radius: 0px 10px 10px 0px;
}

.headbox p {  
  font-size: 15px;
  font-style: italic;
  text-align: right;
  font-weight: bolder;
  color: rgb(54, 54, 54);
  margin-left: -10rem;
  width: 30rem;
  padding: 3px 10px 3px 10px;
}

.container_chat {
  display: flex;
}

.dots {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  bottom: 0;
  margin-bottom: 40rem;
}

.three_lines {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  cursor: pointer;  
}

.lines {
  border: 2px;
  background-color: #c9690a;
  height: 8px;
  width: 8px;
  border-radius: 100%;
}

.avatar {
  position: absolute; 
  z-index: 10;
  height: 50px;
  width: 100px;
  margin-top: -3.2rem;
}

.chatcontain {
  display: flex;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.code-container,
.text-container {
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  margin-left: auto;  
  margin-top: 20px;
  color: rgb(78, 77, 77);
  font-size: 1.4rem;
}

.parauser {  
  border-radius: 4px;
  padding: 10px;
  background-color: #e7e2df3e;
  margin-right: 10px;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.parai {  
  border-radius: 4px;
  background-color: #dcd8d845;
  padding: 15px 10px 15px 10px;
  flex-shrink: 0;
  margin-left: 10px;
  // position: absolute;
  // width: 100%;
  // max-width: 100%;
}

.ai{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-left: 7px;
  margin-right: 7px; 
  padding: 5px;
  background-color: #f8a65a; 
  border-radius: 10px;
  margin-bottom: 10px;
  color: rgb(78, 77, 77);
  font-size: 1.4rem;
}

.code-container {
  display: flex;
  flex-direction: row;
}

.iconbox{
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  bottom: 0;
  right: 0;
}

.icon {
  height: 50px;
}

.chat-head {
  display: flex;
  justify-content: space-between;
  background-color: rgb(233, 230, 227);
  padding: 5px;
  border-radius: 0px 0px 0px 0px;
  margin-top: 1em;
}

.check {
  color: green;
  cursor: pointer;
}

.copyicon {
  cursor: pointer;
  color: #e78936;
}

/* Vertical scrollbar styles */
::-webkit-scrollbar {
  width: 7px;
  border-radius: 40px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: white;
  cursor: pointer;
  border-radius: 40px;
}

::-webkit-scrollbar-thumb {
  background: #e78936;
  cursor: pointer;
  border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ec9952;
  cursor: pointer;
  border-radius: 40px;
}

/* Horizontal scrollbar styles */
.x-container {
  overflow-x: auto;
}

.x-container::-webkit-scrollbar {
  height: 10px;
  border-radius: 40px;
  cursor: pointer;
}

.x-container::-webkit-scrollbar-track {
  background: white;
  cursor: pointer;
  border-radius: 40px;
}

.x-container::-webkit-scrollbar-thumb {
  background: #b3aeaa;
  cursor: pointer;
  border-radius: 40px;
}

.x-container::-webkit-scrollbar-thumb:hover {
  background: #b3aeaa;
  cursor: pointer;
  border-radius: 40px;
}

.x-container {
  width: 30rem; /* Set width for mobile */
}


/* Media query for screens smaller than 768px (mobile devices) */
@media (max-width: 767px) {
  .schema-box {
    display: none;
  }
  .chatcontainer {
    margin-top: 10rem;
    height: 78vh; /* Adjust the height for mobile devices */
  }
 
  // .x-container {
  //   width: 42rem; /* Set width for mobile */
  // }
}

